body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clear{
    margin: 10px 20px 0px;
}

.changeNumber{
    margin: 10px 20px 0px;
}

.conteiner {
    width: 800px;
    height: 800px;
    margin: 20px;
    border: 3px solid slateblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stringBlock {
    background-color: white;
    display: flex;
    align-items: stretch;
}
.block {
    flex: 1;
}