body {
    background-color: lightblue;
}

.conteiner {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.stringBlock {
    background-color: white;
    display: flex;
    width: auto;
    height: auto;

}
.block {
    background-color:lavender;
    width: 50px;
    margin: 1px;
    height: 50px;
}